h1{
    font-size: 1.75em;
    color: #3399cc;

}
h2{
    font-size: 1.25em;
    color: #3399cc;

}
p{
    font-size: 0.8em;
    color: #333333;

}
li{
    font-size: 0.8em;
    color: #333333;

}
body{
    background-color: #fbf9cc;
    background-image: url(../kuwagata.JPG);
    background-repeat: repeat-x;
}
